<% include header.ejs %>
	<script>
		function Confirm(){
			var r = confirm("Are you sure, you want to delete this content?")
			return r;
		}
		var hide = true
		function Toggle(){
			var cs = document.querySelector(".comments-section")
			var l = document.querySelector(".comments-toggle")
			if(hide){
				cs.style.display = "block"
				l.innerHTML = "COMMENTS <i class='fas fa-sort-down'></i>"
				hide=false
			}
			else{
				cs.style.display = "none"
				l.innerHTML = "COMMENTS <i class='fas fa-caret-right'></i>"
				hide=true
			}
		}
	</script>
	<link rel="stylesheet" href="/knowMore.css"/>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 side-nav">
				<a href="/petshop"><button class="btn btn-primary back"><i class="fas fa-arrow-circle-left"></i></button></a>
			</div>
			<div class="col-lg-9 info">
				<div class="thumbnail">
					<img src="<%= Pet.photo %>">
					<div class="caption">
						<p><%= Pet.name %> (<%= Pet.animal %> - <%= Pet.breed %>)</p>
					</div>
					<div class="well well-sm details">
						<p><%= Pet.details %></p>
						<p class="content-author"><i class="fas fa-user-tag"></i><em> <%= Pet.author.username %></em></p>
					</div>
					<% if(user != undefined){ %>
						<% if( user._id.toString() == Pet.author._id.toString() ){ %>
							<a href="/petshop/edit/<%= Pet._id %>"><button class="btn btn-primary edit">EDIT</button></a>
							<form action="/petshop/delete/<%= Pet._id %>?_method=DELETE" method="POST" id="del" onsubmit="return Confirm()">
								<button class="btn btn-danger delete" type="submit" >DELETE</button>
							</form>
						<% } %>
					<% } %>
				</div>
				<hr>
				<div class="comments">
					<span class="comments-toggle">COMMENTS <i class="fas fa-caret-right"></i></span>
					<form action="/petshop/comment/<%= Pet._id %>?_method=PUT" method="POST" class="comment-form">
						<div class="form-group">
							<label for="comment"></label>
							<input type="text" class="form-control" id="comment" placeholder="Enter Comment" name="comment">
						</div>
						<button type="submit" class="btn btn-primary">COMMENT</button>
					</form>
					<%	if(Pet.comments != undefined){ %>
						<% let i=0 %>
						<div class="comments-section">
							<% Pet.comments.forEach(function(comment){ %>
								<div class="well well-sm">	
									<div class="comment-author"><em><i class="fas fa-user-tag"></i> <%= CUsers[i++] %></em></div>
									<div class="comment"><%= comment.Comment %></div>
								</div>
							<% }) %>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	<script>
		function CommentsHide(){
			var cs = document.querySelector(".comments-section")
			var l = document.querySelector(".comments-toggle")
			l.addEventListener("click",function(){
				Toggle()
			})
			cs.style.display="none"
		}
		CommentsHide()
	</script>
<% include footer.ejs %>